body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.nav a {
    margin-right: 20px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

input, button {
    margin-bottom: 12px;
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

.delete {
    color: red;
}
